<div class="client">
    <div class="client-header">
       <span id="cname">{{ ci.full_name }} </span>
       <div class="clabel">
        <span class="l">פאלפון לקוח</span>
        <span id="cphone">{{ci.phone}} <i class="fa-solid fa-phone fa-shake"></i></span>
       </div>
       <div class="clabel">
        <span class="l">מספר זהות</span>
        {% if ci.ID %}
            <span id="cid">{{ ci.ID }} <i class="fa-solid fa-id-card"></i></span>
        {% else %}
            <span id="cid">לא צויין <i class="fa-solid fa-id-card"></i></span>
        {% endif %}
       </div>


    </div>
    <div class="client-body">
        <span class="linfo">ציוד שהוזמן ({{ci.count_of_equipment}})</span>
        <div class="client-equipment">
            <table class="client-table">
                <thead>
                    <tr>
                        <th class="c-hth">סוג</th>
                        <th class="c-hth">כמות</th>
                        <th class="c-hth">מחיר
                            <div class="edit">
                                <i onclick="editLeadInforamtion(this, 0)" class="fa-solid fa-user-pen"></i>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody id="body-table-information" role="{{ ci.client_id }}">
                    {% for k, item in ci.event_supply.items() %}
                        <tr id="{{ k }}">
                            <th class="c-bth name">{{ item.name }}</th>
                            <th class="c-bth count">{{ item.count }}<span style="font-size: 12px;color: rgb(146, 216, 183);">x{{item.price}}</span></th>
                            <th class="c-bth price">{{ (item.price*item.count) | decimal }} ש"ח</th>
                        </tr>
                    {% endfor %}
                        <tr>
                            <th class="c-bth"></th>
                            <th class="c-bth"></th>
                            <th class="c-pth"><span class="total">סה"כ</span> {{ ci.pay_for_equipment | float | decimal }} <span style="font-size: 13px;">ש"ח</span></th>
                        </tr>
                </tbody>
            </table>
        </div>
        <span class="linfo">הוזמן לתאריך</span>
        <div class="client-date">
            <div class="edit">
                <i onclick="editLeadInforamtion(this, 1)" class="fa-solid fa-user-pen"></i>
            </div>
            <div id="edit-date" role="{{ ci.client_id }}">
                <span class="day-of-week">{{ci.name_day}}</span>
                <span class="dmy">{{ ci.date_str }}</span>
            </div>
            {% if ci.days_left > 0 %}
                <span class="countdown-num">עוד {{ ci.days_left }} ימים האירוע</span>
            {% elif  ci.days_left < 0  %} 
                <span class="countdown-invalid"> התאריך עבר</span>
            {% elif ci.days_left == 0 %}
                <span class="countdown-num">האירוע היום</span>
            {% endif %}
        </div>
        <span class="linfo">הוזמן לכתובת</span>
        <div class="client-location" id="edit-location" role="{{ ci.client_id }}">
            <div class="edit">
                <i onclick="editLeadInforamtion(this, 2)" class="fa-solid fa-user-pen"></i>
            </div>
            <span class="loc">{{ ci.event_place }}</span>
            <span class="icolocation">
                <i class="fa-brands fa-waze"></i>
            </span>
            

        </div>
        <span class="linfo">הוצאות שלך באירוע</span>
        <div class="client-expense" id="edit-expense" role="{{ ci.client_id }}">
            <div class="edit">
                <i onclick="editLeadInforamtion(this, 3)" class="fa-solid fa-user-pen"></i>
            </div>
            <div class="fuel">
                <span class="l">דלק</span>
                <span id="cfuel" class="{{ 'pay-red' if ci.expen_fuel > 0 else ''}}">{{ ci.expen_fuel_i |int |decimal }}.<span>{{ci.expen_fuel_d}}</span> ₪</span>
            </div>
            <div class="employee">
                <span class="l">עובדים</span>
                <span id="cemployee" class="{{ 'pay-red' if ci.expen_employee > 0 else ''}}">{{ ci.expen_employee_i|int|decimal  }}.<span>{{ ci.expen_employee_d }}</span> ₪</span>
            </div>
        </div>
        <span class="linfo">תשלום</span>
        <div class="client-payment" id="edit-payment" role="{{ ci.client_id }}">
            <div class="edit">
                <i onclick="editLeadInforamtion(this, 4)" class="fa-solid fa-user-pen"></i>
            </div>
            <div class="e-payment">
                <span>מקדמה</span>
                {% if ci.d_money == 0 %}
                    <div id="prepayment">
                        <span id="present" class="pay-red">{{ ci.d_money}}%</span>
                        <span id="chowpay" class="pay-red">לא שולמה</span>
                    </div>
                {% else %}
                    <div id="prepayment">
                        <span id="present">{{ (ci.d_money*100)// ci.net}}%</span>
                        <span id="chowpay"> {{ ci.d_money|int|decimal }} ₪</span>
                    </div>
                {% endif %}
            </div>

        
            <div class="e-payment">
                
                <span>אמצעי תשלום</span>
                <div class="payment-type" id="typepayment">
                    {% if ci.type_pay == 0 %}
                        <span class="l" role="{{ ci.type_pay }}">מזומן</span>
                        <span class="payment-type-ico"><i class="fa-solid fa-hand-holding-dollar"></i></span>
                    {% elif ci.type_pay == 1 %}
                        <span class="l" role="{{ ci.type_pay }}">העברה בנקאית</span>
                        <span class="payment-type-ico"><i class="fa-solid fa-money-bill-transfer"></i></span>
                    {% elif ci.type_pay == 2 %}
                        <span class="l" role="{{ ci.type_pay }}">ציק להפקדה</span>
                        <span class="payment-type-ico"><i class="fa-solid fa-money-check-dollar"></i></span>
                    {% endif %}
                </div>
            </div>
            <div class="e-payment">
                <span>סך הכול לתשלום</span>
                <div id="total-pay-info">
                    <span id="totalpay"> {{ ci.client_payment|int|decimal }} ₪</span>
                </div>
            </div>
        </div>
        <span class="linfo">פעולות</span>
        <div class="client-actions">
            {% if ci.is_open %}
                <button type="button" class="client-baction finish" id="1{{ ci.client_id }}" onclick="open_modal_finished(this)">
                    <i class="fa-regular fa-star"></i>
                    <span>סיום</span>
                </button>
                <button type="button" class="client-baction remove" id="0{{ ci.client_id }}" onclick="del_his_eventLead(this)">
                    <i class="fa-solid fa-trash-can"></i>
                    <span>מחק</span>
                </button>
            {% elif not ci.is_open and ci.is_garbage %}
                <button type="button" class="client-baction history" id="5{{ ci.client_id }}" onclick="reCancel_eventLead(this)">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <span>שחזר אירוע</span>
                </button>
                <button type="button" class="client-baction remove" id="7{{ ci.client_id }}" onclick="del_his_eventLead(this, 2)">
                    <i class="fa-solid fa-trash-can"></i>
                    <span>מחק לנצח</span>
                </button>
            {% endif %} 
            {% if ci.invoice_id %}
                <button type="button" class="client-baction invoice" id="3{{ ci.client_id }}" onclick="download_invoice_client(this)">
                    <i class="fa-solid fa-file-arrow-down"></i>
                    <span>הורד חשבונית</span>
                </button>
            {% else %}
                <button type="button" class="client-baction invoice" id="2{{ ci.client_id }}" onclick="create_invoice_client(this)">
                    <i class="fa-solid fa-receipt"></i>
                    <span>הפק חשבונית</span>
                </button>
            {% endif %}
            {% if ci.is_open and not ci.is_signature %}
                <button type="button" class="client-baction signature" id="4{{ ci.client_id }}" onclick="open_modal_link(this)">
                    <i class="fa-solid fa-file-signature"></i>
                    <span>להחתים לקוח</span>
                </button> 
            {% elif ci.is_open or ci.is_garbage or not ci.is_open and ci.is_signature %}
                <button type="button" class="client-baction signature" id="6{{ ci.client_id }}" onclick="open_modal_agreement(this)">
                    <i class="fa-solid fa-file-contract"></i>
                    <span>הצג חוזה</span>
                </button> 
            {% endif %}
        </div>
    </div>
</div>