<div class="histories">
  <div class="histories-tab">
      <button class="button-tab-leads" onclick="getTemplate($('#4')[0],'4', 1);">
          <span><i class="fa-solid fa-rotate-right"></i></span>
      </button>
    </div>
</div>
<section id="owner-setting" class="part-section mrgn-15">
  <div class="setting-owner">
    <span class="title">הגדרות מנהל ({{ usr.user }})</span>
    <div class="items">
      <div class="item">
        <span class="title">הגדר חתימה לחוזה</span>
        <div class="body body-signature">
            {% if not usr.signature %}  
              <button class="btn-add-sig" type="button" onclick="open_modal_signature(this)">
                <span>הוסף חתימה</span>
                <i class="fa-regular fa-square-plus"></i>
              </button>
          {% else %}
            <button class="btn-change-sig" type="button" onclick="open_modal_signature(this)">
              <span>שנה חתימה</span>
              <i class="fa-regular fa-square-plus"></i>
            </button>
            <span class="defined">
              <i class="fa-solid fa-check"></i>
              הוגדרה חתימה
            </span>
          {% endif  %}
        </div>
      </div>
      <div class="item">
        <span class="title">מייל</span>
        <div class="body body-signature">
          <input class="set-input-mail " type="mail" placeholder="מייל" id="mailsetting" value="{{ usr.email if usr.email else '' }}">
          <button class="btn-change-sig btn-mail" type="button" onclick="set_email(this)" role="1">
            <span>{{ 'הגדר' if not usr.email else 'עדכן' }}</span>
          </button>
        </div>
      </div>
      <div class="item">
        <span class="title">תעודת זהות</span>
        <div class="body body-signature">
          <input class="set-input-id" type="tel" placeholder="ת.ז" id="idsetting" value="{{ usr.identify if usr.identify else ''}}">
          <button class="btn-change-sig btn-mail" type="button" onclick="set_identify(this)" role="2">
            <span>{{ 'הגדר' if not usr.identify else 'עדכן' }}</span>
          </button>
        </div>
      </div>
      <div class="item">
        <span class="title">כניסת מנהל</span>
        <div class="body body-signature">
          <button class="btn-add-sig" type="button" onclick="logout()">
            <span>החלף חשבון</span>
            <i class="fa-solid fa-right-from-bracket fa-rotate-180"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="system-setting" class="part-section mrgn-15">
  <div class="setting-owner">
    <span class="title">הגדרות מערכת</span>
    <div class="items">
      <div class="item">
        <span class="title">מחיקה אוטומטית לאירועים שבוטלו</span>
        <div class="body body-signature">
          <div class="switch-binary">
            {% if sett.ge.delete %}
              <input type="checkbox" checked id="tgl-event-grbg"  onchange="update_setting(this, 'garbage')" role="3" class="tgl-input">
            {% else %}
              <input type="checkbox" id="tgl-event-grbg"  onchange="update_setting(this, 'garbage')" role="3" class="tgl-input">
            {% endif %}
            <label for="tgl-event-grbg" class="tgl-label"></label>
          </div>
        </div>
      </div>
      <div class="item">
        <span class="title">סיום אירוע אוטומטי</span>
        <div class="body body-signature">
          <div class="switch-binary">
            {% if sett.ce.complete %}
              <input type="checkbox" checked id="tgl-event-complete" onchange="update_setting(this, 'complete')" role="4" class="tgl-input">
            {% else %}
            <input type="checkbox" id="tgl-event-complete" onchange="update_setting(this, 'complete')" role="4" class="tgl-input"> 
            {% endif %}
            <label for="tgl-event-complete" class="tgl-label"></label>
          </div>
        </div>
      </div>
      <div class="item">
        <span class="title">צבעי רקע יום/לילה</span>
        <div class="body body-signature">
          <div class="switch-binary">
            {% if sett.c.color %}
              <input type="checkbox" checked id="tgl-event-color" onchange=";switchDayNight('false');update_setting(this, 'color')" role="5" class="tgl-input">
            {% else %}
            <input type="checkbox" id="tgl-event-color" onchange=";switchDayNight('true');update_setting(this, 'color')" role="5" class="tgl-input"> 
            {% endif %}
            <label for="tgl-event-color" class="tgl-label"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal-setting" tabindex="-1" role="dialog" id="modalsetting">
  <div class="ms-d" role="document">
    <div class="content">
      <div class="header">
        <h5 class="title" id='ms-title'></h5>
        <button type="button" class="ms-close" onclick="hide_ms()">
          <i class="fa-solid fa-circle-xmark fa-xl"></i>
        </button>
      </div>
      <div class="ms-body" id="ms-body">
      </div>
      <div class="ms-footer" id="ms-footer">
      </div>
    </div>
  </div>
</div>