<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>חוזה השכרה - חתימת לקוח</title>
    <link rel="stylesheet" href="/static/styles/agreement.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Noto+Serif+Hebrew:wght@100;200;300;400;500;600;700;800;900&family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
    <div class="base-title">
        חוזה השכרת ציוד לאירוע
    </div>
    <div class="agree">
        <div class="agree-tab mrgn-20">
            <div class="box-tab">
                <span class="l">שם העסק</span>
                <span class="c">דרור הפקות</span>
            </div>
            <div class="box-tab">
                <span class="l"> מספר עוסק</span>
                <span class="c">314816919</span>
            </div>
            <div class="box-tab last">
                <span class="l"> אימייל </span>
                <a class="c" href='mailto:dvora.sabbann@gmail.com'>dvora.sabbann@gmail.com</a>
            </div>
        </div>
        <div class="agree-form mrgn-15 ">
            <div class="bbody">
                <span>בין</span>
                <div>
                    <span class="name-side-A">דרור הפקות</span>
                    <span>להלן <b>-  צד א'</b> </span>
                </div>
            </div>
            <div class="between">
                <div class="bbody">
                    <span>ובן מר/גב'</span>
                    {% if not cid.full_name %}
                        <input type="text" class="input-side-B" placeholder="שם מלא" id="fname">
                    {% else %}
                        <span value="0" class="auto-complete" id="fname">{{ cid.full_name }}</span>
                    {% endif %}
                </div>
                <div class="bbody"> 
                    <span>בכתובת</span>
                    <input type="text" class="input-side-B" placeholder="כתובת בית" id="_location">
                </div>
                <div class="bbody"> 
                    <span>ת.ז</span>
                    {% if not cid.ID %}
                        <input type="tel" class="input-side-B input-ltr" placeholder="000-000-000" id="identify">
                    {% else %}
                        <span value="0" class="auto-complete" id="identify">{{ cid.ID}}</span>
                    {% endif %}
                </div>
                <div class="bbody"> 
                    <span>פלאפון</span>
                    {% if not cid.phone %}
                        <input type="tel" class="input-side-B input-ltr" placeholder="+972" id="phone">
                    {% else %}
                        <span value="0" class="auto-complete" id="phone">{{ cid.phone }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="middle-title mrgn-15">
            הואיל
            <b>וצד ב'</b>
            מעוניין לשכור ציוד  <b> מצד א'</b>: להלן פירוט הציוד וזמני ההשכרה 
        </div>
        <div class="equipments mrgn-15">
            <div class="info-equip mrgn-10">5 סוגי ציוד</div>
            <div class="equip-table">
                <table>
                    <thead>
                        <tr>
                            <th class="c-hth">שם הציוד</th>
                            <th class="c-hth">כמות הציוד שהושכר</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k, equip in equipment.items() %}
                            <tr>
                                <td class="c-bth">{{ equip.name }}</td>
                                <td class="c-bth">{{ equip.count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="event-date mrgn-20">
                <div>
                    <span>בתאריך</span>
                    <input type="date" class="input-side-B" value="{{ cid.event_date }}" id="fdate" disabled="true">
                </div>
                <div> 
                    <span>עד </span>
                    <input type="date" class="input-side-B" placeholder="שם מלא" id="udate" value="{{ cid.event_date }}">

                </div>
            </div>
        </div>
        <div class="middle-title">
            הואיל <b>וצד ב'</b> מעוניין בביצוע העיסקה, הוסכם בין הצדדים כדלקמן: 
        </div> 
        <div class="agree-policy mrgn-15">
            <ol>
                {% for line in equipment_p %}
                    <li>{{ line }}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="middle-title">
            להלן התשלום שנקבע וחתימת באי הצדדים
        </div>
        <div class="payment-signature mrgn-15">
            <span class="payment-title">
                סה"כ הסכום לתשלום 
            </span>
            <div class="payment">
                <div class="money">
                    <span class="int">
                        {{ (cid.client_payment|string).split(".")[0] }}.<span>{{ (cid.client_payment|string).split(".")[1]}} </span>
                     </span>
                     <span>₪ כולל מעמ</span>

                </div>
                <div class="invoice mrgn-10">
                    <span>קבלה</span>
                    <span class="innumber">{{ cid.invc_n }}</span>
                </div>
            </div>
        </div>
        <div class="middle-title"></div>
        <div class="sig-agreement mrgn-15">
            <div class="sig-owner">
                <span>דביר הפקות - צד א'
                    <i class="fa-solid fa-trash-can" onclick="clearSignature('sig-owner')"></i>
                </span>
                <canvas id="sig-owner"></canvas>
            </div>
            <div class="sig-client">
                <span>הלקוח - צד ב'
                    <i class="fa-solid fa-trash-can" onclick="clearSignature('sig-client')"></i>
                </span>
                <canvas id="sig-client"></canvas>
            </div>
        </div>
        <div class="middle-title"></div>
        <div class="submit-agreement">
            <button class="button-submit-agreement" onclick="sent_agreement_client(this)">
                <span>שליחה</span>
            </button>
            <span class="submit-notice"><i class="fa-solid fa-check fa-xl"></i>
                בשליחת החוזה, אני מאשר את הסכמתי</span>
        </div>
    </div>
    <div id="popup" class="popup">
        <i class="fa-solid fa-triangle-exclamation fa-bounce"></i>
        <span id="popup-title"></span>
        <span id="popup-notice"></span>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
<script src="/static/js/agreement.js"></script>
<script src="https://kit.fontawesome.com/11e3bcf364.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</html>