
body{
    font-family: 'Noto Serif Hebrew';
    direction: rtl;
    margin: 0 ;
    padding: 0;

}
*{
    scroll-behavior: smooth;
}



.base-agreement{
    background: linear-gradient(to bottom right, rgb(232, 227, 240) 50%, rgb(77, 58, 120) 50%) !important;

    padding-bottom: 2rem;


}
.base-agreement > .header{
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.header > .header-title{
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 0 11px rgba(0,0,0,0.3);
    font-weight: bold;
    margin-top: 2rem;
}
.body{
    padding: 10px;
    margin-bottom: 2rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: rgb(246, 246, 255);
    box-shadow: 0 0 11px 0 rgba(10, 10, 10, 0.731);
}

.body > .item > .about-owner{
    display: flex;
    justify-content: space-around;
    row-gap: 15px;
    padding:10px;
    margin-bottom: 4rem;
    margin-top: 4rem;
    box-shadow: 0 0 11px 10px rgba(202, 200, 210, 0.7);
    margin-right: 7%;
    width: 85%;
    margin-left: 7%;
    border-radius: 2rem;
}
.about-owner > .item{
    padding: 10px;
    display: flex;

}
.about-owner > .item > .r, .total-money > .label{
    background: #0f0913;
    padding: 10px;
    color: rgb(228, 188, 241);
    font-weight: bold;
    border-radius: 5px;
}
.about-owner > .item > .l{
    padding: 10px;
}

.body > .item > .item-level{
    display: flex;
    flex-direction: column;
    margin-right: 7%;
    width: 85%;
    gap:20px;
    margin-left: 7%;
    margin-top: 3rem;
}
.title-level{
    font-size: 1.5rem;
    text-align: center;
}
.owner-name{
    font-weight:900;
    color: brown;
}
.client-name{
    font-weight: 900;
    color: rgb(8, 133, 58);
}
.body-level{
    margin-top: 2rem;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    font-size: 1.2rem;
}
.body-level > .item{
    display: flex;
    gap: 10px;
}
.body-level > .item > .r{
    font-weight: bold;
    border-bottom: 2px dotted rgba(0, 0, 0, 0.678);
}

.agree-policy{
    padding: 1.25rem;
}

.agree-policy > i{
    padding-left: 10px;
    margin-left: 10px;
}
.list-policy{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list-policy > .item{
    display: flex;
    align-items: center;

}
.list-policy > .item > i{
    border-radius: 50%;
    font-weight: bold;
    color: rgb(66, 169, 128);
    padding-left: 5px;
    margin-left: 5px;
}

.total-money{
    display: flex;
    flex-direction: column;
    gap:15px;

}



@media screen and (max-width:1000px) {
    .header > .header-title{
        font-size: 1.5rem;
    }
}

.mrgn-10{
    width: auto;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}
.mrgn-15{
    width: auto;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
}
.mrgn-20{
    width: auto;
    height: auto;
    margin-right: 20%;
    margin-left: 20%;
}



.event-date{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    row-gap: 20px;
}

.name-side-A, .name-side-B{
    padding: 4px;
    background: #78739b;
    color: aliceblue;
    font-weight: bold;
    border-radius: 4px;
    margin-left: 4px;
    margin-right: 4px;
}
.name-side-B{
    background: #1e1e1e;
    color: aliceblue;
}

.input-side-B{
    border-radius: 4px;
    border: none;
    outline:none;
    margin-left: 10px;
    background: rgb(234, 238, 251);
    transition: 300ms;
    font-size: 18px;
    padding: 10px 12px 6px 8px ;

}
.input-ltr{
    direction: ltr;
}
.input-side-B:hover,
.input-side-B:focus{
    box-shadow: 0 0 4px 1px #938ac7;
    outline: none;
}



.equipments, .agree-policy{
    margin-top: 1rem;
    background: rgb(234, 238, 251);
    border-radius: 7px;
    box-shadow: 0 3px 10px 0 rgb(181, 181, 181);

}


.equip-table{
    display: flex;
    justify-content: center;
   
}
.equip-table > table{
    width: 60%;
    border-spacing: 0px;
    border-collapse: separate;
    box-shadow: 0 3px 10px 0 rgba(181, 181, 181, 0.653);
    border: 1px solid #2f294f3b;
}
.equip-table > table thead tr:first-child th:first-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 4px;
}
.equip-table > table  thead tr:first-child th:last-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 4px;
    text-align: center;

}

.c-hth{
    padding: 10px 10px 10px 0;
    background: rgb(61, 55, 85);
    color: aliceblue;
    border: 0;
}
.c-bth{
    padding:10px 2px 10px 2px;
    text-align: center;
    border: 0;
    position: relative;
    font-weight: bold;
    border-bottom: 1px solid #00000032;
}

.agree-policy{
    box-shadow: 0 3px 10px 0 rgb(181, 181, 181);
    border: 10px;
}


.payment{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

}


.innumber{
    font-weight: bold;
    color: green;
}

.sig-agreement{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.sig-client, .sig-owner{
    box-shadow: 0 3px 10px 0 rgb(181, 181, 181);
    display: flex;
    flex-direction: column;
    text-align: right !important;
}


.sig-client > span,  .sig-owner > span{
    font-weight: bold;
    text-align: center;
    padding: 10px 1px 10px 10px;
    background:rgb(61, 55, 85);
    color: aliceblue;
    position: relative;
    font-size: 18px;
}

.sig-client > span >i,  .sig-owner > span > i{
    position: absolute;
    left: 2px;
    border-right: 1px solid #e4e2ff87;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    
}

#sig-complate{
    display: flex;
}

#sig-complate > .title{
    color:#30285c;
    font-weight: bold;
    padding-right: 10px;
    transform: skewX(-10deg);
}
.submit-agreement{
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
}
.button-submit-agreement{
    padding: 10px;
    background: rgb(61, 55, 85);
    color: aliceblue;
    border-radius: 7px;
    box-shadow: 0 2px 11px 0 rgb(61, 55, 85);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.button-submit-agreement:hover,
.button-submit-agreement:active{
    background: rgb(82, 66, 145);
    box-shadow: 0 2px 11px rgb(82, 66, 145);
}
.submit-notice{
    margin-top: 2rem;
    text-align: center;
}
.submit-notice > i{
    color: green;
    margin-left: 10px;

}

.agreement-close{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    padding: 10px;
    border-radius: 7px;
}

.agreement-close >.pre-agree-date{
    font-weight: bold;
    color: rgb(97, 97, 97);
    
    margin-left: 10px;

}
.agreement-close > i{
    margin-right: 10px;
    margin-left: 10px;

}

.agreement-close > .agree-date{
    transform: skewX(-10deg);
    text-align: left;
}

.error{
    background-color: rgb(146, 62, 59);
}
.success{
    background-color: rgb(66, 169, 128);
}
 /*   ----  shadow  ---- */
 .shadow11-al{
    box-shadow: 0 0 11px 0 rgba(10, 10, 10, 0.400);
 }
 .shadow2-a{
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.731);
 }
 .shadow9-a{
    box-shadow: 0 0 9px 0 rgba(10, 10, 10, 0.731);
 }
.shadow11-a{
    box-shadow: 0 0 11px 0 rgba(10, 10, 10, 0.731);
}
.tshadow11{
    text-shadow: 0 0 11px rgba(0, 0, 0, 1);
}


/* popup */
.pop-notice-base{
    margin-top: 1%;
    margin-bottom: 1%;
    position: fixed;
    right: 20px;
    z-index: 9999;
    width: 30%;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: auto;
    background: rgba(0,0,0,0.1);

}
.pop-notice{
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 5px;
    background: #333;
    color: #fff;
    width: 100%;
}

.pop-head{
    border-left: 1px solid aliceblue;
    padding: 10px;

}
.pop-head > span{
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}
.pop-body{
    padding: 10px;
    
}



@media screen and (max-width:1000px) {
    .mail{
        display: none !important;
    }
    .body > .item > .about-owner{
        margin-right: 1%;
        justify-content: space-around;
        margin-left: 1%;
        width: 98%;
    }
    .about-owner > .item {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .about-owner > .item > .r, .total-money > .label{
        padding:5px;
    }
    .about-owner > .item > .r{
        padding: 5px;
    }
    .body > .item > .item-level{
        margin-left: 1%;
        margin-right: 1%;
        width: 98%;
    }
    .body-level{
        flex-direction: column;
    }
    .body-level > .item {
        flex-direction: column;
    }
    .mrgn-20, .mrgn-15, .mrgn-10{
        margin-left: 0%;
        margin-right: 0%;

    }

    .equip-table > table{
        width: 100%;
    }
    #fdate, #udate{
        border:1px solid rgba(151, 151, 151, 0.596);
        color: #000 !important;
    }
    
    .sig-agreement{
        flex-direction: column;
        row-gap: 30px;
    }
    .submit-agreement{
        margin-right: 2px;
        margin-left: 2px;
    }
    .agreement-close{
        flex-direction: column;
        row-gap: 20px;

    }
}