a{
    text-decoration: none !important;
    cursor: pointer;
}

/* LOADER GUI. ~source[:] w3school.com */
.loading{
    border: 5px solid #ffffff; 
    border-top: 5px solid #4a0e8f; 
    width:30px;
    height: 30px;
    border-radius: 50%;
    animation: spin 700ms linear infinite;
    box-shadow: 0 4px 45px 0 rgb(255, 255, 255);
}
  
@keyframes spin {
0%{transform: rotate(0deg)}
100%{transform: rotate(360deg) }
}
  
.d-cen{
    display: flex;
    justify-content: center;
}


/* SHOW ALERT */
.modal-show{
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}

.modal-show-body{
    background-color: #cac8c8;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
}

.modal-show-close {
    color: #252328;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: 700ms;
}
.modal-show-close:hover,
.modal-show-close:focus {
  text-decoration: none;
  cursor: pointer;
  transform:rotate(360deg);
}
.modal-show-body > h1{
    color: rgb(16, 7, 7);
    font-weight: 800;
    margin-left: 20px;
}
.modal-show-body > p{
    margin-top:30px;
    color: rgb(26, 21, 45);
}

/* show MODAL */
.levels-prog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-direction: column;
}
.ul-prog{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.ul-prog > li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ul-prog > li .ico{
    color:#17b950;
    font-size: 30px;
    margin: 0 33px;

}
.ul-prog > li .des{
    color: rgb(33, 93, 93);
    font-size: 13px;
    font-weight: 600;
}
.ul-prog > li .status-prog{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 10px 0;
    background:#99c4e4;
    display: grid;
    place-items: center;
    color: whitesmoke;
    font-weight: 700;
    margin: 14px 0;
    position: relative;
    cursor: pointer;
}
.ul-prog > li > .status-prog > i{
    display: none;
}
.ul-prog >li > .status-prog > p{
    font-size: 13px;
}
.status-prog::after{
    content: " ";
    position: absolute;
    width: 74px;
    height: 4px;
    background-color: #94bedf;
    left: 25px;
}
.ul-prog > li > .p-active{
    background-color: #175bbc;
}

.ul-prog > li > .p-active::after{
    background-color:#175bbc ;
}
.ul-prog > li > .p-active > p{
    display: none;
}
.ul-prog > li > .p-active > i{
    display: flex;
}

.l0::after{
    width: 0;
    height: 0;
}

@media (max-width:1300px){
    .ul-prog{
        display: none;
    }
}

.mfull{
    padding-top: 0;
    z-index: 9;
}
.mfull-main{
    background-color: whitesmoke;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
}
.mfull-head{
    display: flex; 
    /* border-bottom: 1px solid #5083ca6c; */
    border-radius: 5px;
    /* border-bottom:1px solid #2176ec53; */
}

.mfull-head>h1{
    font-weight: 600;
    color: #3a76ca;
    border-radius: 5px;
    margin: 5px 0 0 0;
}
.mfull-body{
    padding-top: 40px;
}
.mfull-head>button{
    font-size: 40px;
    padding: 0px 0px 0px 10px ;
    border-style: none;
    background: transparent;
    transition: 200ms;
    border-left: 1px solid #b6c0ce;
    color:#2175ec;

}
.mfull-head>button:hover{
    color:#175bbc;

}
.mfull-body{
    background-color:transparent;
}

.mf-body{
    text-align: right;
    font-weight: 400;
    display: none;
}
.mf-body>h1{
    font-weight: 800;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(225, 224, 224);
}
.mf-body-left{
    text-align: left;
    padding-top: 20px;
}
.mf-body-center{
    text-align: center;
    
}

.mf-body-left>button{
    min-width: 120px;
}
.mf-body-sb{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
@media (max-width:900px) {
    .mf-body-sb > button{
        width: 60%;
    }
}
.mf-body-sb > button{
    width: 20%;
}
.dash-input{
    border-radius: 6px;
    outline: none;
    border: 1px solid #bebebe;
    text-align: center;
    font-weight: 600;

}
.dash-input:focus{
    border-color: #2175ec;
    background: #e3eeff;
}
/** STYLE ADD_LEAD */
#supply{
    width: 60%;
}
.list-supply{
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
@media screen and (max-width:870px){
    .list-supply{
        flex-direction: column;
    }
    .box-supply>h1{
        text-align: center;
        font-size: 38px;
    }
    
    .box-action> button{
        width: 70px !important;
    }
    .box-summery>h1{
        font-size: 35px;
    }
}

.box-supply{
    border-radius: 6px;
    border: 1px solid #2176ec81;
    margin: 5px;
    padding: 9px;
    box-shadow: 1px 4px 10px 0px #a4a5a7;
    cursor: pointer;
    min-width: 180px;
    min-height: auto;
    display: flex;
    flex-direction: column;
}
.rotate{
    animation: maxSupply 500ms;
}

@keyframes maxSupply {
    0% {transform: translateX(55px);}
    20% {transform: translateX(-45px);}
    40% {transform: translateX(35px)}
    60% {transform: translateX(-25px)}
    80% {transform:translateX(15px)}
    100%{transform: translateX(-5px)}

}
.box-action> button{
    width: 40px;
}
.box-supply>h1{
    color: rgb(4, 3, 100);
    font-weight: 600;
}
.box-supply>span{
    font-weight: 600;
    font-size: 16px;
}
.box-supply:hover{
    box-shadow: 1px 4px 10px 0px #c7d7ee;
}

.box-action{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(214, 214, 214);
}
.box-action>#minus{
    background: rgb(177, 98, 98);
    color: white;
}
.box-action>#minus:hover{
    background:white;
    color:rgb(177, 98, 98);
    border: 1px solid rgb(177, 98, 98);
}
.box-action > span{
    font-weight: 600;
    font-size: 22px;
}

.summery{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(81, 81, 81, 0.283);

}
.box-summery{
    background: radial-gradient(circle at 10%, rgb(250, 254, 255), whitesmoke);
    margin: 5px;
    /* border-top: 1px solid rgba(72, 142, 255, 0.537); */
    border-radius: 5px;
    min-width: 350px;
    text-align: center;
    
}

.box-summery-head{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background: rgba(240, 240, 240, 0.936);
    color: rgb(3, 5, 10);
}
.box-summery-head>p{
    font-size: 20px;
    font-weight: 600;
    margin: 5px 20px 0 0;

}
.box-summery-head>span{
    background: rgba(214, 214, 214, 0.562);
    padding: 5px 15px 5px 15px;
    color:rgb(13, 26, 53);
    border-radius: 5px;
    font-weight: 900;
}
.box-summery>h1{
    font-weight: 700;
    color: rgb(54, 92, 244); 
    font-size: 30px;
    margin-top: 20px;
    padding-bottom: 10px;
    font-family: 'Merriweather', serif;
}
.box-summery:hover,
.box-summery:focus{
    box-shadow: 0 0 1px 5px rgba(207, 225, 255, 0.463); 
}

.summ-worng>h1{
    color: rgb(246, 112, 112);
}
.summ-worng{
    border: 1px solid rgba(231, 39, 39, 0.5);
    background: white;
}

.list-summery-supply{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background: #e9ecef;
}
.list-summery-supply>span{
    font-size: 16px;
    margin: 0px 25px 0 25px;
}
.list-summery-supply:hover{
    background:#e5e7eb;
}

#fini-lead{
    min-width:230px;
    border-radius: 6px;
    margin-top: 20px;
    min-height: 40px;
}

.input-width{
    width: 70%;
}
.input-width-s{
    width: 45%;
}
.input-width-m{
    width: 65%;
}
/** phone style */

@media screen and (max-width:536px){
    .modal-show-body{
        width: 80%;
    }  
    .modal-show{
        background-color: rgba(0,0,0,0.6);
    }  
    .mfull-main{
        width: 100%;
        
    }
    .mfull-head>button{
        font-size: 24px;
    }
    .mfull-body{
        padding-top: 50px;
    }
   #supply{
    width: 100%;
   }
   .input-width-s{
    width: 65%;
   }
   .input-width-m{
    width: 85%;
   }
}





body{
    /* background: rgb(245, 254, 254) !important;  */
    background: whitesmoke;
    font-family: 'consolas' !important;
    direction: rtl;
}
.concen{
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
}

.nav-title{
    font-weight: bold;
}
.nav-bar{
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 2.8em !important;
}

.tabs{
    display: flex;
    border-bottom:1px solid rgb(134, 154, 185);
    padding-bottom: 3px;
}

.tabs-button{
    font-size: 15px;
    position: relative;
}

.button-tab{
    position: relative;
    border-radius: 5px;
    padding-left: 10px !important;
    border: 0px solid white ;
    background: rgb(250, 250, 250);
    padding-top:8px;
    padding-bottom: 8px;
    font-weight: lighter !important;
    word-spacing: 0%;
}
.button-tab > span{
    color: rgb(68, 68, 68);
}
.button-tab:not(:hover)::after{
    content: '';
    height: 13px;
    border-left: 1px solid;
    border-color: rgb(161, 180, 210);
    position: absolute;
    top: 14px;
    padding-left: 8px;

}

.button-tab:hover{
    background: rgb(211, 221, 254);
}
.tab-selected{
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -4px;
    right: 0;
    background-color: rgb(34, 73, 202);
}

.dashboard{
    /* background: rgb(237, 242, 249); */
    background: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dashboard-tab{
    display: flex;
    flex-direction: row;
    padding-right: 6px;
    padding-left: 10px;
    justify-content: flex-start;
}

.button-dash{
    border-radius: 6px;
    border: 1px solid #ffff;
    background: rgb(54, 92, 244);
    color: whitesmoke;
    margin-left: 10px;
    transition: 200ms;
}
.button-dash:hover{
    background: whitesmoke;
    color: rgb(54, 92, 244);
    border:1px solid rgb(54, 92, 244);
}
.button-dash:focus{
    box-shadow: 0 4px 40px 0px rgb(134, 154, 185);
}


.dashboard-list-leads{
    padding-top: 40px;
    padding-right: 15px;
    padding-left: 15px;
}

.empty-lead{
    font-size:30px;
    color: rgb(54, 92, 244);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.empty-lead > i{
    margin-left: 15px;
}

.leads{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row wrap;

}
@media  (max-width:1000px){
    
    .leads{
        flex-direction: column;
    }
    .lbt-options{
        font-size: 16px;
        right: -29px;
        top: 31px;
    }
}

.lead-box{
    position: relative;
    background:rgb(239, 242, 248);
    border-radius: 5px;
    box-shadow: 0 17px 30px 4px #848484d1;
    transition: 200ms;
    margin-left: 20px;
    margin-top: 30px;
    min-width: 40%;
}
.lead-box-tab{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px;
    background: #263143;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: rgb(235, 235, 235);
}
.lead-box-tab>.n{
    position: relative;
    font-size: 27px;
    font-weight:bold;
    color: rgb(235, 235, 235);
}
.lead-box-tab>.n::after{
    content: " ";
    height: 40px;
    border-left: 1px solid;
    border-color: rgb(161, 180, 210);
    position: absolute;
    top: 2px;
    padding-left: 8px;
}
.l-b-t-info{
    font-size: 12px;
    color: rgb(235, 235, 235);
    background: rgba(0, 0, 0, 0.473);
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
}
::selection{
    background-color: #167159;
    color: white;
}

.l-b-t-info>span{
    border-right: 1px solid rgba(245, 222, 179, 0.288);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    padding-right: 5px;
    margin-right: 3px;
}
.l-b-t-info>i{
    color: #4cca78;
}
.lbt-action{
    cursor: pointer;
    min-width: 50px;
    transition: 400ms;
    position: relative;
}

.lead-box-tab>#lw{
    font-size: 12px;
    margin-right: 15px;
    color: rgb(235, 235, 235);
}
.lead-box-tab>#lw>span{
    background: rgba(0, 0, 0, 0.473);
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
    color: white;
}

.lead-box-tab>*>div>span>i{
    color: #94bedf;
}

.lbt-options{
    list-style: none;
    background: #263143;
    position: absolute;
    z-index: 999;
    display: none;
    border-radius: 5px !important;
    padding: 5px;
    width: 100px;
}
ul.lbt-options li{
    
    padding: 5px 0px 5px 0;
    border-bottom: 1px solid rgba(57, 56, 56, 0.361);
}
ul.lbt-options li>a{
    color: whitesmoke;
}
ul.lbt-options li>a>i{
    color: #4cca78;
}
ul.lbt-options li:hover{
    background-color: #38455b;
}

.l-b-t-info.lbt-action:hover .lbt-options{
    display: block;
}
.lead-box-info{
    display: block;
    padding: 20px 5px 20px 5px;
}
/* .lead-box
-tab::after{
    content: '';
    height: 40px;
    border-bottom: 1px solid rgb(161, 180, 210);
    position: absolute;
    top: 14px;
    padding-left: 120px;
} */
.lead-status{
    font-size:14px;
    padding-top: 0p;
    color: red;
}
.lead-option{
    background: whitesmoke;
    color: black;
    position: absolute;
    left: 0;
    margin-top: -1px;
    margin-left: 2px;
    height: auto;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 3px;
    border-bottom-style: solid;
    border-bottom-color:#afdbff;
    border-top-color: #afdbff00;
    border-top-style: solid;
    box-shadow: 0px 4px 20px 0 #bebebe;
    min-width: 50px;
    text-align: center;


}

.lead-profile{
    display: flex;
    justify-content: space-between;
    background: whitesmoke;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 7px;
}
.lead-profile:active{
    border: 2px solid #afdbff;
}
.status{
    font-size: 12px;
}

/* COLOR STATUS */
.invalid{
    color: rgb(215, 68, 78);
}

.valid{
    color: rgb(66, 215, 113);
}

 /* phone style */
 @media screen and (max-width:530px) {
    .concen{
        width: 96%;
        height: auto;
        margin-left: 2%;
        margin-right: 2%;
    }
    .dashboard{
        padding-top: 15px;
    }
    .lead-box{
        width: 100%;
    }
    .empty-lead{
        font-size: 25px;
    }
}



    


@media screen and (min-width:530px) and (max-width:740px){
    .concen{
        width: 96%;
        height: auto;
        margin-left: 2%;
        margin-right: 2%;
    }
    .dashboard{
        padding-top: 15px;
    }
    .empty-lead{
        font-size: 25px;
    }
}

