
.head-equipment{
    padding-bottom: 3px;
    width: auto;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;

}

.equipments-status{
    display: flex;
    padding-top: 20px;
    border-bottom:1px solid #b2a9d130;
    color: rgb(188, 188, 188);
    padding-bottom: 20px;
    width: auto;
    height: 100%;
    overflow: auto;
    white-space: nowrap;

}

.equipments-status::-webkit-scrollbar,
.equipments-status::-webkit-scrollbar-thumb,
.equipments-status::-webkit-scrollbar-track {
    display: none;
}
.equipments-status > .item{
    border-radius: 6px;
    border: 2px solid rgb(125, 101, 220);
    background: rgb(63, 43, 145);
    color: whitesmoke;
    margin-left: 10px;
    transition: 200ms;
}
.equipments-status > .item:hover,.item:focus{
    background: whitesmoke;
    color: rgb(63, 43, 145);
    border:2px solid rgb(62, 49, 116);
}

.empty-list-equipment{
    margin-top: 30px;
    color: rgb(197, 197, 197);
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.table-title{
    width: auto;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    position: relative;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: rgb(197, 186, 244);
    text-shadow: 2px 2px 4px rgba(133, 133, 133, 0.498);;
}
.equipment-container{
    padding: 0;
    padding-top: 30px;
    width: auto;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
}
.equipment-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.equipment-header > .item{
    padding: 10px;
    color: aliceblue;
    font-weight: bold;
    background: rgb(34, 34, 34);
}
.border-tlr{
    border-top-left-radius: 10px;
}
.border-trr{
    border-top-right-radius: 10px;
}
.shdaow-11a{
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.317) 
}
.equipment-body{
    display: grid;
    grid-template-columns: 1fr;
}
.equipment-body > .item{
    padding-top: 15px;
    border-bottom: 1px solid #8787873a;
    padding-bottom: 15px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transition: 200ms;
}

.equipment-body > .item:hover,
.equipment-body > .item:active{
    background: rgba(179, 179, 179, 0.217);
    transform: scale(1.01);
}
.equipment-body > .item:hover::before{
    width: 100%;
}

.item-option{
    content: '';
    position: absolute;
    right: 0;
    display: none;
    background: rgb(173, 141, 141);
    z-index: 2;
}
.tcenter{
    text-align: center ;
}
.options{
    z-index: 3;
    position: absolute;
    content: '';
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}
.btn-option{
    position: relative;
    display: flex;
    justify-content: right;
    gap: 10px;
    padding: 10px;
}
.btnoption, .btnEdit, .btnDelete, .btnCancel{
    border-radius: 7px;
    font-size: 1.4rem;
    transition: 200ms;
}
.btnEdit{
    background: rgb(15, 47, 176);
    color: aliceblue;
}

.btnEdit:hover, 
.btnEdit:active{
    background:aliceblue;
    color: rgb(15, 47, 176);
    transform: scale(1.01);
}
.btnDelete{
    background:rgb(142, 39, 39);
    color: aliceblue;
    flex:1;
}
.btnDelete:hover, 
.btnDelete:active{
    color: rgb(142, 39, 39);
    background-color: aliceblue;
    transform: scale(1.1);
}
.btnCancel{
    background: rgb(114, 114, 114);
    color: aliceblue;
    border-right: 1px solid rgba(243, 243, 243, 0.664);
    margin-right: 10px;
}
.btnCancel:hover,
.btnCancel:active{
    color: rgb(114, 114, 114);
    background: aliceblue;
    transform: scale(1.1);
}

/* to DELETE */


.table-item{
    color: aliceblue;
    white-space: nowrap; 
    text-overflow:clip; 
}
.item-green{
    color: #dae1fd;
}
.iname{
    font-weight: bold;
    font-size: 17px;
}

.iedit{
    display: flex;
     
}
.iedit > button{
    border-radius: 6px;
    border: 2px solid rgb(125, 101, 220);
    background: rgb(63 43 145 / 20%);
    color: whitesmoke;
    transition: 300ms;
    width: 100%;
}

.iedit > button:hover{
    box-shadow: 0 -1px 0 0 rgba(100, 121, 143, 0.434);
}


button.update-equip{
    margin-left: 2px;
}

.edit-table-input{
    border-radius: 6px;
    background: rgba(25, 18, 45, 0.534);
    color: aliceblue;
    font-weight: bold;
    border: 1px solid rgba(128, 128, 128, 0.317);
    padding: 10px;
}
.edit-table-input:hover,
.edit-table-input:focus-visible{
    border: 1px solid rgba(128, 128, 128, 0.664);
    outline: none;
}

.update-equip.cancel{
    background: rgb(78, 82, 105);
    color: aliceblue;
    border: 1px solid rgba(240, 248, 255, 0.767);

}
.update-equip.grab{
    background: rgb(112, 66, 66);
    color: aliceblue;
    border: 1px solid rgba(240, 248, 255, 0.767);
}



@media screen and (max-width:1000px) {
    .head-equipment{
        width: auto;
        height: auto;
        margin-left: 1%;
        margin-right: 1%;
    }  
    .equipments-status{
        width: auto;
        height: auto;
        margin-left: 0%;
        margin-right: 0%;
    
    }
    .empty-list-equipment{
        font-size: 25px;
    }
    .equipment-container{
        width: auto;
        height: auto;
        margin-left: 1%;
        margin-right: 1%;
    }
    #equipment-table-edit{
        width: 100%;
    }
    
    .table-items:hover,
    .table-items:focus-visible{
        border-bottom: 1px solid rgb(83, 71, 107);
        border-top: 1px solid rgb(83, 71, 107);
        box-shadow: 0px 0px 11px 0px rgb(114, 114, 114);
        
    }
    .edit-table-input{
        width: 100%;
        border-radius: 6px;
        background: rgba(25, 18, 45, 0.534);
        color: aliceblue;
        font-weight: bold;
        border: 1px solid rgba(128, 128, 128, 0.317);
        
    }
    .iedit > button{
        padding: 2px 6px 2px 6px;
    }
}
