
.empty-lead{
    margin-top: 40px;
    margin-left: 25%;
    margin-right: 25%;
    width: auto;
    height: auto;
    color: rgb(197, 197, 197);
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.leads{
    display: flex;
    border-bottom:1px solid #b2a9d135;
    width: auto;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search-leads{
    margin-top: 15px;
    display: none;
    width: auto;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
}

.input-search-leads{
    padding: 8px;
    border-radius: 0px 6px 6px 0px ;
    background: rgba(25, 18, 45, 0.534);
    color: aliceblue;
    font-weight: bold;
    height:42px !important;
    border: 1px solid rgba(128, 128, 128, 0.317);
}
.input-search-leads:hover,
.input-search-leads:focus-visible{
    border: 1px solid rgba(128, 128, 128, 0.664);
    outline: none;
}

.search-leads > .button-tab-leads{
    border-radius: 6px 0px 0px 6px;
    padding: 0px 7px 0px 7px ;
}

.leads-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row wrap;
    width: auto;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
}

.leads-box{
    display: flex;
    flex-direction: column;
    position: relative;
    background:#b2a9bf;
    border-radius: 6px;
    transition: 200ms;
    margin-left: 20px;
    margin-top: 30px;
    min-width: 45%;
    justify-content: space-between;

}
.leads-box:hover{
    box-shadow: 0px 20px 20px 0px #9184c238;
}

.leads-box-tab{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px;
    padding-bottom: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid #000000;
    background: #312f39;
    color: rgb(235, 235, 235);
}
.leads-box-tab>.n{
    position: relative;
    font-size: 27px;
    font-weight:bold;
    color: rgb(235, 235, 235);
}
.leads-box-tab>.n::after{
    content: " ";
    height: 40px;
    border-left: 1px solid;
    border-color: rgb(161, 180, 210);
    position: absolute;
    top: 2px;
    padding-left: 8px;
}

.leads-head-info{
    font-size: 15px;
    color: rgb(235, 235, 235);
    background: rgba(0, 0, 0, 0.473);
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
}

.leads-head-info>span{
    border-right: 1px solid rgba(245, 222, 179, 0.288);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    padding-right: 5px;
    margin-right: 3px;
}
.leads-head-info>i{
    color: #4cca78;
}

.lhi-action{
    cursor: pointer;
    min-width: 50px;
    transition: 400ms;
    position: relative;
}

.leads-menu-action{
    font-size: 12px;
    list-style: none;
    background:#312f39;
    position: absolute;
    z-index: 999;
    display: none;
    border-radius: 5px !important;
    padding: 5px;
    width: 100px;
}
ul.leads-menu-action li{
    padding: 5px 0px 5px 0;
    border-bottom: 1px solid rgba(57, 56, 56, 0.361);
}
ul.leads-menu-action li>a{
    color: whitesmoke;
}
ul.leads-menu-action li>a>i{
    color: #4cca78;
}
ul.leads-menu-action li:hover{
    background-color: #38455b;
}

.leads-head-info.lhi-action:hover .leads-menu-action{
    display: block;
}

.lead-box-info{
    background: transparent;

}
.lead-box-info-head{
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 4px 4px #312f393f;
    width: auto;
    height: auto;
    background: #d7cdea;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: bold;
    margin-top: 15px;
}
.alert-calander-worng{
    color: #812b34;
    
}
.lead-box-info-head>.icalander{
    position: absolute;
    right: 5px;
    top: 5px;
    color: rgb(63, 43, 145);
}
.worng-date{
    position: absolute;
    left: 0;
    top: -12px;
    color: #623a0b;
    transform: rotate(-30deg);
}

.lead-profile-parent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px 1px 15px 1px;
    
}

.lead-profile{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    font-weight: bold;

}
.lead-profile > p >span{
    margin-left: 15px;
}

.x-invalid{
    color: rgb(156, 76, 76);
    font-weight: bold;
    font-size: 25px;
    box-shadow: -3px 1px 5px 4px rgba(40, 40, 40, 0.187);
    border-radius: 50%;
    
}

.v-valid{
    color: rgb(63, 43, 145);
    font-weight: bold;
    font-size: 25px;
    box-shadow: -3px 1px 5px 4px rgba(40, 40, 40, 0.187);
    border-radius: 50%;
}
.live-shadow{
    color: rgb(63, 43, 145);
    font-weight: bold;
    font-size: 25px;
    box-shadow: 0px 0px 0px 11px rgba(40, 40, 40, 0.187);
    border-radius: 50%;
    animation: liveshadow 2s ease-in 1s infinite normal backwards;
    
}

@keyframes liveshadow {
    0%{
        box-shadow: 0px 0px 0px 0px rgba(40, 40, 40, 0.187);
    }
    50%{
        box-shadow: 0px 0px 0px 11px rgba(40, 40, 40, 0.187);
    }
    100%{
        box-shadow: 0px 0px 40px 2px rgba(40, 40, 40, 0.187);
    }
}

.lead-box-footer{
    display: flex;
    margin-left: 0%;
    margin-right: 0%;
    background:#38455b;
    border: 1px solid #5e4f85;
}

.lead-box-money{
    position: relative;
    color: aliceblue;
    width: 60%;
    text-align: center;
    padding: 10px;
}
.lead-box-money::after{
    content: " ";
    position: absolute;
    height: 30px;
    top: 22%;
    left: 0;
    border-left: 2px solid rgba(240, 248, 255, 0.61);
    border-radius: 50%;
}
.lead-box-money #money-neto{
    font-size: 28px;
    font-weight: bold;
    text-shadow:  2px 2px 4px rgb(162, 162, 162);
}

.lead-box-money #des{
    font-size: 13px;
    color: rgb(175, 175, 175);
}
.lead-box-money #money-bruto{
    font-size: 20px;
    font-weight: bold;
    color: rgb(175, 175, 175);
}

/* modal of client to show all inforamtion aboute specific client */
/* MODAL INFORMATION */

.lead-information-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px); 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
    overflow: auto;
}

.modal-head{
    width: auto;
    height: auto;
    margin-right: 15%;
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    
}
.modal-head > i{
    cursor: pointer;
    transition: 300ms;
    font-size: 35px;
    color: rgb(141, 119, 226);
    
}
.modal-head > i:hover{
    color:rgb(196, 184, 240);
    transform: rotate(180deg);
}

.client{
    margin-top: 2%;
    width: auto;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    background: rgb(40, 41, 50);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
    border: 1px solid rgba(20, 19, 24, 0.838);
    border-radius: 7px;
    padding-bottom: 10%;

}
.client-header{
    display: flex;
    /* justify-content:space-between; */
    color: aliceblue;
    padding: 10px;
    align-items: end;
    font-size: 20px;

}

.client-header > #cname{
    font-size: 35px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
}
#cphone{
    color: aliceblue;
    border-left: 1px solid rgba(240, 248, 255, 0.084);
    border-right: 1px solid rgba(240, 248, 255, 0.084);
    padding-left: 5px;
    padding-right: 5px;

}

.clabel{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}
.clabel > .l{
    color: gray;
    font-size: 13px;
    transform: skewX(-10deg);
}
#cphone > i, .clabel > span>i{
    color: #4cca78;
    cursor: pointer;
}

.client-body{
    display: flex;
    color: aliceblue;
    flex-direction: column;
}
.linfo{
    font-weight: bold;
    margin: 40px 15px 20px 2px;
    font-size: 22px;
    color: gray;
}
.client-table{
    width: 70%;
    color: #b7e6c8;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    border-spacing: 0px;
    border-collapse: separate;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0px 0px 11px 0px black;
}

.edit{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
    border-radius: 50%;
    background: #191919cf;
    padding: 10px 13px 10px 13px;
    cursor: pointer;
    transition: 300ms;
    color: rgb(197, 186, 244);
    left: -15px;
    top: -30px;
    transition: 600ms;

}

.edit-open{
    border-radius: 7px;
    padding: 7px;
}
.edit-open > *:first-child{
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid gray;
}
.edit-open > *{
    transition: 400ms;
}
.edit:hover,
.edit:active{
    box-shadow: 0 0 11px 0 #000000;
}
.client-table thead tr:first-child th:first-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.client-table  thead tr:first-child th:last-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    text-align: center;

}

.client-table  thead th:last-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    text-align: center;
    position: relative;

}
.client-table  thead th:last-child > .edit{
    left: -15px;
    top: -30px;
}

.c-hth{
    padding: 10px 10px 10px 0;
    color: rgb(197, 186, 244);
    background-color: #00000053;
    border: 0;
}
.c-bth{
    padding:10px 2px 10px 2px;
    text-align: right;
    border: 0;
    position: relative;
    border-bottom: 1px solid #5f8a6e44; 
    color: rgb(255, 255, 255);;
    font-weight: normal;

}
.c-bth.name{
    color: rgb(161, 181, 164);
    font-weight: bold;
}

.c-bth.count, .c-bth.price{
    font-weight: auto;
}
.c-bth > .edit-table-input{
    position: absolute;
    text-align: center;
    top: 10px;
    right: 0px;
}

.c-pth{
    padding: 10px 1px 10px 1px;
    background:rgb(40, 41, 50);;
    color: #53ab73;
    text-align: center;
    border-top: 1px solid rgba(20, 19, 24, 0.838) !important;
    border-bottom: 1px solid rgba(20, 19, 24, 0.838) !important;
    box-shadow: -5px -2px 11px 0px rgba(0, 0, 0, 0.66);
    border-radius: 5px;
    border: 0;
    position: relative;
    font-size: 20px;
}


.c-pth > .total{
    position: absolute;
    right: 5px;
    color: aliceblue;
    font-size: 16px;
    bottom: 30%;
    font-weight: lighter;
}

.client-date, .client-location, .client-expense, .client-payment, .client-actions{
    display: flex;
    width: auto;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    background: #201C24;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
    border: 1px solid rgba(20, 19, 24, 0.838);
    border-radius: 7px;
    align-items: end;
    justify-content: space-between;
    font-weight: lighter;
    font-size: 24px;
    padding: 10px;
    position: relative;

}

.client-date > *{
    padding: 5px 10px 5px 10px;
}

#edit-date > .edit-table-input{
    width: 130%;
    font-weight: lighter;
    border: none;
    font-size: 20px;
    padding: 10px;
}

#edit-location > .loc > .edit-table-input{
    width: 100%!important;
} 

.day-of-week {
    color: #b2a9bf;
}
  
.dmy{
    color: aliceblue;
    padding: 6px;

}

.countdown-num, .countdown-invalid{
    color: #53ab73;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
    border-radius: 7px;
    font-size: 24px;
    
}
.countdown-invalid{
    font-size: 21px;
    color: rgb(244, 151, 151);
    transform: skewX(10deg);
    text-shadow: 6px 5px 11px #000000;
}


.client-location{
    justify-content: space-between;
}
.icolocation, #chowpay, #present, #totalpay{
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
    border-radius: 7px;
    padding: 2px 10px 2px 10px ;
    color: #53ab73;
}

.client-expense{
    justify-content: right;
}
.client-expense > *:not(:last-child){
    margin-left: 10px;
}
.fuel, .employee{
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    padding-left: 25px;
    background: #2d2732;
    border-radius: 6px;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
}
.fuel > .l, .employee > .l, .payment-type > .l{
    color: rgb(161, 161, 161);
    font-size: 13px;
    transform: skewX(-10deg);
    padding-right: 0;
}

.fuel > #cfuel, .employee > #cemployee, .payment-type-ico{
    color: #53ab73;
    background: #2d2732;
    font-size: 30px;
}
.fuel > #cfuel > span, .employee > #cemployee > span{
    font-size: 15px;
}

.pay-red{
    color: rgb(244, 151, 151) !important;
}

.client-payment{
    flex-direction: column;
    align-items:revert;

}
.e-payment{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.payment-type{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
    padding: 2px 15px 2px 15px;

}
.edit-type-payment{
    display: flex;
    
}
.payment-type-ico{
    background: transparent;
}

.client-actions >*{
    width:96%;
}
.client-actions >*>i{
    font-size: 24px;
    padding: 10px 10px 10px 10px ;
}
.client-baction{
    font-size: 17px;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 6px;
    border: 1px solid rgb(196, 184, 240);
    background: #201C24;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
    color: rgb(197, 186, 244);
    transition: 300ms;
    font-weight: bold;
}

.client-baction.finish{
    background: rgb(189, 183, 111);
    color: #312f39;
    border-color: #312f39;

}
.client-baction.finish:hover,
.client-baction.finish:active{
    color: rgb(181, 173, 81);
    background: #312f39;
    border-color: rgb(163, 152, 28);

}
.client-baction.remove{
    color:  rgb(188, 90, 90);
    border-color: rgba(240, 248, 255, 0.338);

}
.client-baction.remove:hover,
.client-baction.remove:active{
    background: rgb(156, 76, 76);
    color: aliceblue;
    border-color: rgb(156, 76, 76);
}
.client-baction.history{
    color: rgb(196, 184, 240);
    border-color: rgba(196, 184, 240, 0.573);
}

.client-baction.history:hover,
.client-baction.history:active{
    background: rgb(196, 184, 240);
    color:#201C24;
}

.client-baction.invoice{
    color: #53ab73;
    border-color: #53ab73af;
}
.client-baction.invoice:hover,
.client-baction.invoice:active{
    background: #53ab73;
    color: #201C24;
}
.client-baction.signature{
    color: #b2a9bf;
    background: #201C24;
}
.client-baction.signature:hover,
.client-baction.signature:active{
    background: #b2a9bf;
    color: #201C24;
}

/* MODAL LINK */
.modal-link{
    background: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px); 
    background-color: rgba(0, 0, 0, 0.144); 
    z-index: 1000;
    overflow: auto;

}
.modal-link-body{
    width: auto;
    height: auto;
    margin-right: 20%;
    margin-left: 20%;
    background-color: rgb(40, 41, 50);
    border-radius: 10px;
    color: aliceblue;
    padding: 10px;
    margin-top: 20px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}
.modal-link-title{
    text-align: center;
    word-wrap: break-word;
    line-break: loose;
    display: block;
    margin: 1rem;
}

.modal-link-body > .modal-link-title > i{
    position: absolute;
    right: 0;
    top:0;
    cursor: pointer;
    color: rgb(141, 119, 226);
    font-size: 35px;
}  
.modal-link-title > .subtitle{
    font-size: 16px;
    color: rgb(193, 193, 193);
    display: block;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;

}

.lnk-countdown{
    display: flex;
}

#lnkd, #lnkh, #lnkm, #lnks{
    padding-right: 5px;
    padding-left: 5px;
    color:#4cca78;
    font-weight: bold;
}
.lnkexpired{
    color: rgb(205, 43, 43) !important;
}
#lnks::after{
    position: absolute;
    content: ":";
    margin-right: 4px;
}
.modal-buttons-actions-link{
    display: flex;
    margin-right: 15%;
    margin-left: 15%;

    
}
.modal-button-create-link{
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    color:  #b2a9bf;
    background:rgb(40, 41, 50);
    border-radius: 7px;
    border: 1px solid #b2a9bf;
    flex: 1;
}
.modal-button-create-link:hover,
.modal-button-create-link:active,
.modal-button-create-link:focus{
    background: #b2a9bf;
    color:rgb(40, 41, 50);
}

.copy-link{
    color: #3a6bc6;
    background: rgb(40, 41, 50);
    border: 1px solid #3a6bc6;

}
.copy-link:hover,
.copy-link:active{
    background: #3a6bc6;
    color: rgb(40, 41, 50);
}

.input-link{
    color: rgb(141, 119, 226);
    background: #000000d3;
    border: 1px solid rgba(140, 119, 226, 0.336);
    border-radius: 5px;
    padding:10px;
    color: #b2a9bf;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 16px;
    direction: ltr;
}
.input-link:hover,
.input-link:active,
.input-link:focus{
    border: 1px solid rgba(200, 186, 253, 0.162);
    outline: none;
}

/*  MEDIA SCREEN  */

@media screen and (max-width:1000px){
    .empty-lead{
        font-size: 25px;
        margin-right: 0;
        margin-right: 0;
    }
    .leads{
        margin-left: 2%;
        margin-right: 2%;
    }

    .leads-list{
        flex-direction: column;
        margin-left: 0%;
        margin-right: 3%;
    }
    .leads-box{
        justify-content: space-between;
    }
    .leads-menu-action{
        font-size: 13px;
        right: -24px;
        top: 31px;
    }
    .leads-box-tab>.n{
        font-size: 20px;
    }
    .leads-box-tab>.n::after{
        content: " ";
        height: 30px;
        border-left: 1px solid;
        border-color: rgba(161, 180, 210, 0.637);
        position: absolute;
        top: 0px;
        padding-left: 8px;
    }
    .leads-head-info{
        font-size: 12px;
    }
    .lead-box-info-head{
        margin-left: 10%;
        margin-right: 10%;
    }
    .lead-profile{
        margin-right: 5%;
        margin-left:5%;
        margin-bottom: -10px;
        font-size: 14px;
    }
    .lead-profile > p >span{
        margin-left: 10px;
    }
    .lead-box-money{
        width: 80%;
        padding: 10px 0 10px 0;

    }
    .lead-box-money #money-neto{
        font-size: 20px;

    }
    .lead-box-money #des{
        font-size: 12px;
    }
    .lead-box-money #money-bruto{
        font-size: 15px;
    }

    /* MODAL CLIENT INFORMATION */
    .modal-head{
        margin-left: 2%;
        margin-right: 2%;
    }
    .client{
        margin-left: 2%;
        margin-right: 2%;
    }
    .client-header{
        font-size: 13px;
    }

    .client-header > #cname{
        font-size: 30px;
    }
    .clabel > .l{
        color: gray;
        font-size: 11px;
    }
    .client-table {
        width: 98%;
        height: auto;
        margin-left: 1%;
        margin-right: 1%; 
    }
    .edit, .client-table  thead th:last-child > .edit{
        left: -5px;
        top:-40px;
        font-size: 20px;
        margin-left: 1px !important;
    }
    .c-pth > .total{
        display: none;
    }
    .client-date, .client-location, .client-expense, .client-payment, .client-actions{
        width: auto;
        height: auto;
        margin-left: 1%;
        margin-right: 1%;
        font-size: 20px;
        padding: 10px 2px 10px 2px;
    }
    .employee > #cemployee, .fuel > #cfuel{
        font-size: 24px;
    }
    #edit-date > .edit-table-input{
        width: 130%;
        font-size: 17px;
    }
    .countdown-invalid{
        font-size: 17px;
    }
    .countdown-num{
        font-size: 17px;
    }
    .client-location > .loc{
        margin-right: 10px;
    }
    .client-actions >*>i{
        font-size: 20px;
    }
    .client-baction > span{
        display: none;
    }
    .modal-link-body{
        margin-right: 2%;
        margin-left: 2%;
    }
    .modal-link-body > .modal-link-title > i{
        top: -10px;
    }
    .modal-button-create-link, .input-link{
        margin-left: 1px;
        margin-right: 1px;
    }
    .modal-buttons-actions-link{
        margin-right: 1px;
        margin-left: 1px;
    }
}
